<header>

    <% if(locals.user)  {  %>
      <h2>
         <a href="/user/sign-out">  Sign Out!  </a> 
      </h2>
   
      <h2>
         <a href="/user/profile">  Profile  </a> 
      </h2>

    <% }else{  %>

      <h2>
         <a href="/user/sign-in">  Sign In!  </a> 
         </h2>
      
         <h2>
            <a href="/user/sign-up">  Sign Up!  </a> 
         </h2>
     
    <% }  %>
 </header>